<template name="libraryPageTemplate">
    <div id="libraryPage" class="page">
        <div class="doesnt-overlap-header">
            <div class="spacer row"></div>
            <div class="panel">
                <input id="librarySearchInput"  type="text" class="search" placeholder="filter records" />
            </div>
            <div class="spacer row"></div>
                <div class="four light columns">
                    <div class="panel">
                        {{> assetsDisplayTemplate}}
                    </div>
                </div>
                <div class="four light columns">
                    {{> imageAssetInfoTemplate}}
                </div>
                <div class="four light columns">
                    {{> imageAssetsGrid }}
                </div>
        </div>
    </div>
</template>
<template name="imageAssetsGrid">
    <ul class="assets-list list">
        {{#each image_assets}}
        {{> imageAssetGridItemTemplate}}
        {{/each}}
    </ul>
</template>

<template name="imageAssetInfoTemplate">
    <div class="panel">
        <span class="bold">Asset #:</span>
        <div class="anatomy-name">{{asset_id}}</div><br>
        <span class="bold">Description:</span>
        <div class="anatomy-name">{{asset_description}}</div><br>
        <span class="bold">Keywords:</span>
        <div class="anatomy-name">{{asset_project_id}}</div><br>
        <span class="bold">Size:</span>
        <div class="anatomy-name">{{asset_project_id}}</div><br>
    </div>

    <div class="spacer row">
    </div>

    <div class="panel">
        <span class="bold">Library Folder:</span>
        <div class="anatomy-name">{{anatomy_image}}</div><br>
        <span class="bold">Original File:</span>
        <div class="anatomy-name">{{asset_filename}}</div><br>
        <span class="bold">Visual MD #:</span>
        <div class="anatomy-name">{{asset_project_id}}</div><br>
        <span class="bold">Project:</span>
        <div class="anatomy-name">{{asset_project_id}}</div><br>
    </div>
</template>


<template name="imageAssetGridItemTemplate">
    <li class="three column anatomy-item with-rounded-corners">
        <div class="hidden anatomy-name">{{anatomy_image}}</div>
        <img src="{{anatomy_image}}">
    </li>
</template>

<template name="assetsDisplayTemplate">
    <img class="display-image" src="images/grays.anatomy.tiles/{{selected_image}}">
</template>