<template name="navbarFooter">
  <div id="navbarFooter">
    <nav id="navbarFooterNav" class="navbar navbar-default navbar-fixed-bottom">

      <ul class="nav navbar-nav">
        <li><a id="libraryStreamButton">Library Stream</a>
        </li>
        <li><a id="myLibraryButton">My Library</a>
        </li>
        <li><a id="previewImageButon">View Image</a>
        </li>
        <li><a id="newImageButon">New Image</a>
        </li>
        <li><a id="editImageButton">Edit Image</a>
        </li>
        <li><a id="deleteImageButton">Delete Image</a>
        </li>
        <li><a id="slingshotButton">Slingshot</a>
        </li>
      </ul>

    </nav>
  </div>
</template>
